.pull-right
  %div
    - if @notes_count > 0
      %span.btn.disabled.btn-grouped
        %i.fa.fa-comment
        = @notes_count
    .pull-left.btn-group
      %a.btn.btn-grouped.dropdown-toggle{ data: {toggle: :dropdown} }
        %i.fa.fa-download
        Download as
        %span.caret
      %ul.dropdown-menu
        - unless @commit.parents.length > 1
          %li= link_to "Email Patches", namespace_project_commit_path(@project.namespace, @project, @commit, format: :patch)
        %li= link_to "Plain Diff",    namespace_project_commit_path(@project.namespace, @project, @commit, format: :diff)
    = link_to namespace_project_tree_path(@project.namespace, @project, @commit), class: "btn btn-grouped" do
      = icon('files-o')
      Browse Files
  %div

%p
  %span.light Commit
  = link_to @commit.id, namespace_project_commit_path(@project.namespace, @project, @commit), class: "monospace", data: { clipboard_text: @commit.id }
  = clipboard_button
.commit-info-row
  %span.light Authored by
  %strong
    = commit_author_link(@commit, avatar: true, size: 24)
  #{time_ago_with_tooltip(@commit.authored_date)}

- if @commit.different_committer?
  .commit-info-row
    %span.light Committed by
    %strong
      = commit_committer_link(@commit, avatar: true, size: 24)
    #{time_ago_with_tooltip(@commit.committed_date)}

.commit-info-row
  %span.cgray= pluralize(@commit.parents.count, "parent")
  - @commit.parents.each do |parent|
    = link_to parent.short_id, namespace_project_commit_path(@project.namespace, @project, parent), class: "monospace"

- if @ci_commit
  .pull-right
    = link_to ci_status_path(@ci_commit), class: "ci-status ci-#{@ci_commit.status}" do
      = ci_status_icon(@ci_commit)
      build:
      = ci_status_label(@ci_commit)

.commit-info-row.branches
  %i.fa.fa-spinner.fa-spin

.commit-box.gray-content-block.middle-block
  %h3.commit-title
    = gfm escape_once(@commit.title)
  - if @commit.description.present?
    %pre.commit-description
      = preserve(gfm(escape_once(@commit.description)))

:javascript
  $(".commit-info-row.branches").load("#{branches_namespace_project_commit_path(@project.namespace, @project, @commit.id)}");
